html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth; /*Плавный скролл*/
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p, span {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  color: #fff;
  background-color: #000;
  @extend %su-regular;
  font-size: 16px;
  line-height: 1.2;
  &._lock {
    overflow: hidden;
  }
}

.section {
  padding: 0 0 80px 0;
}

.title {
  font-size: 31px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
  &__text {
    line-height: 28px;
    margin: 0 auto 60px auto;
    max-width: 770px;
    text-align: center;
  }
}