%cs-regular {
  font-family: 'ClearSans-Regular', sans-serif;
  font-weight: 400;
}

%su-regular {
  font-family: 'SegoeUI-Regular', sans-serif;
  font-weight: 400;
}

%su-bold {
  font-family: 'SegoeUI-Bold', sans-serif;
  font-weight: 700;
}

%su-black {
  font-family: 'SegoeUI-Black', sans-serif;
  font-weight: 900;
}